.header-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.search-bar {
  flex: 1;
  font-size: 28px;
  padding: 8px 16px;
  background-color: #fff9db;
  border: none;
  border-radius: 4px;
}

.button-orange {
  width: 120px;
  height: 30px;
  background-color: #ed7700;
  border: none;
  cursor: pointer;
}

.button-green {
  width: 60px;
  height: 40px;
  background-color: #1c3c09;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  padding: 20px 0;
  position: relative;
  /* margin:0px, auto; */
  align-self: center;
  margin-left: 10%;
  max-width: 80%;
}

.card {
  background-color: #fff9db;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  /* max-height: 380px;
  max-width: 260px;
  min-height: 380px; */
  height: 380px;
  width:260px;
  margin-right: 0px;
  margin-left: 0px;
  /* align-self: center; */
  box-shadow: 1px 1px 2px 2px gray;
}

.card:hover {
  transform: translate(-5px, -5px);
}

.image-placeholder {
  background-color: #d3d3d3;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
}

.card-name {
  font-weight: 500;
}

.card-info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  text-align: left;
  border-top: 1px solid #000;
  padding-top: 4px;
}

